%% macro fmt_result(run)
    <a href="{{ run_url(run) }}">
        %% if run.get_result() == RunResult.SUCCESS
            ✅
        %% elif run.get_result() == RunResult.SKIP
            <span title="{{ run.exception }}">✖️</span>
        %% elif run.get_result() == RunResult.BUILD_FAILURE
            ⛔
        %% elif run.get_result() == RunResult.EXEC_FAILURE
            ❌
        %% else
            bad
        %% endif
    </a>
%% endmacro

<h1>ABI Checker Results</h1>

%% for case in report.get_cases():
    <h2>{{ case }}</h2>
    <table>
        <thead>
            <tr>
                <th>exec →<br>↓ compile</th>
                %% for build in report.get_builds():
                    <th style="writing-mode:sideways-lr;">{{ build }}</th>
                %% endfor
            </tr>
        </thead>
        <tbody>
            %% for compile_build in report.get_builds():
                <tr>
                    <th>{{ compile_build }}</th>
                    %% for exec_build in report.get_builds():
                        <td>
                            {{ fmt_result(report.get_run(
                                case, compile_build, exec_build,
                            )) }}
                        </td>
                    %% endfor
                </tr>
            %% endfor
        </tbody>
    </table>
%% endfor

<h2>Legend</h2>

<dl>
    <dt>✅</dt>
    <dd>success</dd>
    <dt>✖️</dt>
    <dd>skip</dd>
    <dt>⛔</dt>
    <dd>build failure</dd>
    <dt>❌</dt>
    <dd>exec failure</dd>
    <dt>bad</dt>
    <dd>exception</dd>
</dl>
