<a href="{{ url_for('index') }}">back</a>

<h1>Run</h1>

<dl>
    <dt>case</dt>
    <dd>{{ run.case }}</dd>
    <dt>compiled with</dt>
    <dd>
        {{ run.compile_build }}
        (<code>{{ run.compile_build.commit.get_commit_hash() }}</code>)
    </dd>
    <dt>executed on</dt>
    <dd>
        {{ run.exec_build }}
        (<code>{{ run.exec_build.commit.get_commit_hash() }}</code>)
    </dd>
    <dt>Result</dt>
    <dd>{{ run.get_result() }}</dd>
</dl>

<h2>Compile log</h2>
{{ (run.path / 'compile.log') | file_info }}
<pre><code>
    {{- (run.path / 'compile.log') | include_file -}}
</code></pre>

<h2>Exec stdout</h2>
<pre><code>
    {{- (run.path / 'stdout.log') | include_file -}}
</code></pre>

<h2>Exec stderr</h2>
<pre><code>
    {{- (run.path / 'stderr.log') | include_file -}}
</code></pre>

<h2>Exception</h2>
{{ run.exception }}

<h2>Flags</h2>
<code>{{ run.get_flags() }}</code>

<h2>Extension</h2>
{{ run.extension_module_path | file_info }}

<h2>C</h2>
{{ run.case.extension_source_path | file_info }}
<pre><code>
    {{- run.case.extension_source_path | include_file -}}
</code></pre>

<h2>Python</h2>
{{ run.case.py_script_path | file_info }}
<pre><code>
    {{- run.case.py_script_path | include_file -}}
</code></pre>
