:root {
    background-color: light-dark(white, black);
    color: light-dark(black, white);
}
table {
    border-collapse: collapse;
    thead {
        background-color: light-dark(white, black);
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .first-row {
        th, td {
            border-top: 2px solid #8888;
        }
    }
    .build-tag {
        vertical-align: top;
        thead & {
            writing-mode: sideways-lr;
        }
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}
.spinning {
    display: inline-block;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
